@font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/static/Alegreya_Sans/AlegreyaSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  }

  